.societiesStudentsWelfare {
  padding: 10px;
  padding-bottom: 0;
}

.societiesStudentsWelfare__intro > h1 {
  font-weight: 500;
}

.societiesStudentsWelfare__intro > p {
  color: grey;
  margin-bottom: 10px;
}
