.societiesSportsAndGames {
  padding: 10px;
  padding-bottom: 0;
}

.societiesSportsAndGames__intro > h1 {
  font-weight: 500;
}

.societiesSportsAndGames__intro > p {
  color: grey;
  margin-bottom: 10px;
}
