<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .title {
        font-size: 25px;
        font-weight: 500;
    }

    .content {
        font-size: 20px;
        font-weight: 500;
    }

    hr {
        border: none;
        height: 1px;
    }

    .sender {
        font-size: 20px;
        font-weight: 500;
    }

    .otp {
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 5px;
        text-align: center;
    }
</style>

<body>
    <h1 class="title">Technology Students' Gymkhana</h1>
    <hr />
    <p class="content">Hey,
    <p class="content">Welcome to students' portal, IIT Kharagpur. To proceed with your email verification, use the
        following OTP to complete your registration process.</p>
    <p class="otp">{{otp}}</p>
    <p class="content">The OTP is valid only for 1 minute.</p>
    <hr />
    <p class="sender">Regards,<br />Technology Students' Gymkhana,<br />IIT Kharagpur,<br />West
        Bengal, India</p>
</body>