.profileCertificatesTechnology__intro {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 0;
}

.profileCertificatesTechnology__intro > h1 {
  font-weight: 500;
}

.profileCertificatesTechnology__intro > p {
  color: grey;
}

.profileCertificatesTechnology__cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
}
